@keyframes spin-loader {
  //DS - анимация при загрузке страницы
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

////////////////////// Animation ///////////////////
@keyframes spin {
  0%,
  80%,
  100% {
    background-color: #fff;
  }
  40% {
    background-color: #fff;
  }
}

@keyframes downCube {
  0% {
    transform: translateY(-5em) scale(1, 1);
    opacity: 0.1;
  }
  80% {
    transform: translateY(0) scale(1, 1);
    opacity: 1;
  }
  90% {
    transform: translateY(0.2em) scale(1.2, 0.7);
    opacity: 1;
  }
  99% {
    transform: translateY(0) scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1, 1);
    opacity: 1;
  }
}
@keyframes showElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes steps {
  // 0% {
  //   transform: scale(0.8) translateY(10%);
  // }

  // 20% {
  //   transform: scale(0.84) translateY(12%);
  // }

  0% {
    transform: scale(0.88) translateY(5%);
  }

  25% {
    transform: scale(0.92) translateY(7%);
  }

  50% {
    transform: scale(0.96) translateY(2%);
  }

  100% {
    transform: scale(1) translateY(0%);
  }
}
@keyframes bigger {
  0% {
    opacity: 1;
    transform: scale(0.8) translateY(10%);
  }
  0% {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
}

@keyframes stepsCouple {

  0% {
    opacity: 1;
    transform: scale(0.8) translateY(8%);
  }

  50% {
    opacity: 1;
    transform: scale(0.9) translateY(9%);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
}

@keyframes blinking {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
//@import "plugins/animate";
