.couple {
  .slide-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    &__wrapper {
      position: relative;
      width: 83%;
      width: calc(var(--vh, 1vh) * 60);
      height: 65%;
      bottom: -2rem;
      left: 1rem;
    }
    &__img-box {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }

    &__couple {
      left: 0;
      display: block;
      max-height: 100%;
    }

    .images {
      .image-box {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        img {
          display: block;
          height: 100%;
          align-self: flex-end;
          user-select: none;
        }
      }
      .image-box_absolute {
        bottom: 0;
        align-self: flex-end;
        height: 100%;
        position: absolute;
        z-index: 10;

      }
      &__coffee-img {
        animation: jumping 1s linear 0s infinite normal forwards;
        &::before,
        &::after {
          position: absolute;
          content: "";
          width: 17%;
          max-width: 10rem;
          height: 16%;
          background-color: $color-orange;
          border-radius: 50%;
          will-change: filter;
          filter: blur(10px);
          opacity: 0;
          transition: 0.4s;
          z-index: -1;
        }

        &::before {
          bottom: 48%;
          left: 37%;
          animation: blinking 3s linear 0s infinite normal forwards;
        }
        &::after {
          bottom: 28%;
          left: 43%;
          animation: blinking 3s linear 1s infinite normal forwards;
        }
      }
    }

    &__tooltip-block {
      position: absolute;
      --size: 13%;
      aspect-ratio: 0.8;
      width: calc(var(--size) / var(--aspect-ratio));
      height: var(--size);
      z-index: 12;
      cursor: pointer;
      user-select: none;
    }
  }

  .tooltip-block {
    &__tooltip-icon {
      width: 100%;
      height: 100%;
      user-select: none;
    }
    &.man-tooltip {
      bottom: 31%;
      left: 45%;
      transform: translateX(-1%);
      .tooltip {
        left: -9rem;
      }
    }

    &.woman-tooltip {
      bottom: 50%;
      left: 37%;
      .tooltip {
        left: -9rem;
      }
    }
  }

  .man-popup {
    font-size: 1.5vh;
    top: -21%;
    left: 5%;
    width: 50vw;
    max-width: 27rem;
    &::after {
      bottom: -1rem;
      left: 50%;
    }
  }

  .woman-popup {
    top: 3%;
    right: 11%;
    max-width: 12rem;
    &::after {
      width: 2rem;
      height: 3rem;
      bottom: -0.7rem;
      left: -0.3rem;
      clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    }
  }
  .tooltip__text {
    pointer-events: none;
  }
  @media (min-width: 768px) {
    .slide-content {
      &__wrapper {
        position: relative;
        width: 100%;
        max-width: 34.2rem;
        height: 45vw;
        max-height: 44rem;
        bottom: -5rem;
      }
      &__img-box {
        max-width: 100%;
      }

      .images {
        .image-box {
          height: auto;
          width: 100%;
          img {
            height: auto;
            width: 100%;
          }
        }
      }

      &__tooltip-block {
        --size: 18%;
      }
    }

    .tooltip-block {
      &.man-tooltip {
        bottom: 29%;
        left: 42%;
        transform: translateX(-1%);
        .tooltip {
          left: -9rem;
        }
      }

      &.woman-tooltip {
        bottom: 50%;
        left: 38%;
        .tooltip {
          left: -9rem;
        }
      }
    }

    .man-popup {
      top: -15vh;
      left: 10%;
      max-width: 20rem;
      font-size: 1.2rem;
      &::after {
        left: 53%;
      }
    }

    .woman-popup {
      top: 0;
      right: 0%;
      max-width: 10rem;
      font-size: 1.2rem;
      &::after {
        width: 2rem;
        height: 3rem;
        bottom: -0.7rem;
        left: -0.3rem;
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
      }
    }
  }
}

// @keyframes jumping {
//   0% {
//     transform: scale(.9);
//   }
//   100% {
//     transform: scale(1);
//   }
// }
