.loader {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 100, 30, 0.5);
  animation: loader 1s 1 ease forwards;
  z-index: 1000;
  &__image-area {
  }

  &__coffee {
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
