.man {
  .slide-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    &__wrapper {
      position: relative;
      width: 70%;
      max-width: 50rem;
      height: 90%;
      bottom: -27%;
      left: 1rem;
    }
    &__img-box {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }

    &__man {
      left: 0;
      display: block;
      max-height: 100%;
    }

    .images {
      .image-box {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        user-select: none;
        justify-content: center;
        img {
          display: block;
          height: 100%;
          align-self: flex-end;
          user-select: none;
        }
      }
      .image-box_absolute {
        bottom: -1px;
        align-self: flex-end;
        height: 100%;
        position: absolute;
        z-index: 10;
      }
      &__phone-img {
        &::before {
          position: absolute;
          content: "";
          width: 19%;
          height: 10%;
          bottom: 62%;
          left: 40%;
          background-color: $color-orange;
          border-radius: 50%;
          will-change: filter;
          filter: blur(10px);
          opacity: 0;
          transition: 0.4s;
          z-index: -1;
          animation: blinking 3s linear 0s infinite normal forwards;
        }
      }
      &__dog-img {
        transform-origin: 20% 50%;
        animation: tail 3s linear 1s infinite normal forwards;
        z-index: 8;
        // &::before {
        //   position: absolute;
        //   content: "";
        //   width: 3px;
        //   height: 3px;
        //   bottom: 49%;
        //   left: 22%;
        //   background-color: $color-orange;
        //   border-radius: 50%;
        //   transition: 0.4s;
        //   z-index: 10;
        // }
      }
    }

    &__tooltip-block {
      position: absolute;
      --size: 12%;
      aspect-ratio: 0.6;
      width: calc(var(--size) / var(--aspect-ratio));
      height: var(--size);

      z-index: 12;
      cursor: pointer;
    }
  }

  .tooltip-block {
    &.man-tooltip {
      bottom: 60%;
      left: 40%;
      transform: translateX(-1%);
      .tooltip {
        left: -9rem;
      }
    }
  }

  .text-popup {
    font-size: 1.5vh;
    top: -14vh;
    left: -10%;
    width: 70vw;
    max-width: 27.3rem;
    &::after {
      bottom: -1rem;
      left: 35%;
    }
  }

  .tooltip__text {
    pointer-events: none;
  }
  @media (min-width: 768px) {
    .slide-content {
      &__wrapper {
        position: relative;
        width: 100%;
        max-width: 34.2rem;
        height: 45vw;
        max-height: 44rem;
        bottom: -25rem;
      }
      &__img-box {
        max-width: 100%;
      }

      .images {
        .image-box {
          height: auto;
          width: 100%;
          img {
            height: auto;
            width: 100%;
          }
        }
        .image-box_absolute {
          bottom: -3px;
        }
      }

      &__tooltip-block {
        --size: 18%;
      }
    }

    .tooltip-block {
      &.man-tooltip {
        bottom: 92%;
        left: 42%;
        transform: translateX(-1%);
        .tooltip {
          left: -9rem;
        }
      }
    }

    .text-popup {
      top: -42vh;
      left: auto;
      right: -40%;
      max-width: 23rem;
      font-size: 1.2rem;
      &::after {
        width: 2rem;
        height: 3rem;
        bottom: -0.7rem;
        left: -0.3rem;
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
      }
    }
  }
}
