.section-slider {
  .slider {
    margin: 0;
    &__text {
    }
    .visible {
      animation: showElement 1s normal 0s 1 linear forwards;
    }
  }
  .loader {
    &__image-area {
    }

    &__coffee {
    }
  }
  .swiper-container {
    height: 100vh;
    padding-bottom: 0;
  }
  .fixed-text {
    text-align: center;
    left: 0;
    padding: 0 1.8rem;
    position: fixed;
    z-index: 100;
    opacity: 0;
    width: 100%;
    &.visible {
      animation: showElement 1s normal 0s 1 linear forwards;
    }
    &__title {
      margin: 0;
      margin-bottom: 1.2rem;
    }

    &__text {
      font-family: $font1;
      text-align: center;
      margin: 0 auto;
    }
  }
  .swiper-wrapper {
    height: 100vh;
    top: 0;
    position: absolute;
    left: 3.6rem;
    &__background {
      position: absolute;
      background-color: $background-main;
      height: 100%;
      // max-height: 50vh;
      background-image: url("../img/page/bgmain.png");
      background-blend-mode: multiply;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 10rem;
      left: -3.6rem;
      bottom: 0vw;
      min-width: 310%;
    }
  }
  .swiper-slide {
    // opacity: 0;
  }
  .slide {
    &.visible {
      animation: showElement 1s normal 0s 1 linear forwards;
    }
    &__content {
      height: 100%;
    }

    &__images-list {
    }

    &__image {
    }
  }

  .images {
    position: relative;
    height: 100%;
  }
  .main-image__popup {
    opacity: 0;
    transition: .4s;

  }
  .text-popup {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    font-family: $font1;
    padding: 1.2rem 1.6rem;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    &::after {
      content: "";
      width: 2rem;
      height: 2rem;
      position: absolute;
      background-color: #fff;
      transform: rotate(45deg);
    }
  }
  @media (min-width: 992px) {
    .swiper-container {
      padding: 2.2rem 1.8rem;
    }
    .fixed-text {
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.8rem; /* 127.273% */
      &__text {
        max-width: 40%;
        br {
          display: none;
        }
      }
    }
    .swiper-wrapper {
      min-width: 100%;
      justify-content: center;
      left: 0;
      &__background {
        background-size: 100%;

        background-position: bottom;
        min-width: 100%;
        left: 0;
      }
    }
    .swiper-slide {
      max-width: calc(100% / 3 - 3.6rem);
      height: 100%;
      flex-shrink: 0;
      transition-property: transform, -webkit-transform;
      position: relative;
    }
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
