.girl {
  .main-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    width: 100%;
    &__box {
      position: relative;
      width: 250px;
      height: 465px;
      display: flex;
      justify-content: center;
    }
    &__girl {
      position: absolute;
      min-height: 70%;
      // width: 100%;
      bottom: -27%;
      margin-right: 0rem;
    }
    .tooltip-block {
      position: absolute;
      min-height: 15%;
      width: 30%;
      left: 10%;
      top: 18%;
      z-index: 1;
      transform: translate(-30%, -0%);
      &__icon {
        max-width: 100%;
        position: absolute;
        z-index: 1;
      }
    }

    &__item {
    }
  }

  .popup {
    &__link {
    }
  }
  .tooltip {
    width: 26.5rem;
    z-index: 30;
    background-color: #ff641e;
    border-radius: 12px;
    padding: 1.2rem 1.6rem 1.2rem 2.6rem;
    font-family: $font1;
    font-size: 1.2rem;
    position: absolute;
    top: auto;
    bottom: -100%;
    left: 0%;
    transform: none;
    &::before {
      left: 10%;
    }

    &-list__item {
      font-size: 1.4rem;
      font-family: $font1;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
    &__icon {
    }
  }

  .image-light {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fe6320;
    will-change: filter;
    filter: blur(20px);
    z-index: 0;
    border-radius: 50%;
    left: 0%;
    top: 0%;
    animation: blinking 2s linear 5s infinite normal forwards;
  }
  .text-popup {
    top: -25%;
    left: -2.5rem;
    max-width: 24rem;
    &::after {
      bottom: -1rem;
      left: 45%;
    }
    &.opened {
      opacity: 1;
    }
  }
}
