.teaser {
  position: relative;
  z-index: 5;
  background-color: $color-dark;
  // min-height: 100vh;
  .platform_ios & {
    .video-layer {
      background-image: url("../video/fallback-ios@2x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      video {
        opacity: 0;
        transition: opacity 0.2s linear;
        &.is_started {
          opacity: 1;
        }
      }
    }
  }

  .video-layer {
    overflow: hidden;
    // max-height: 60vh;
    // min-height: 56rem;
    // max-width: 100%;
    // min-height: 40rem;
    max-height: 55%;
    height: 55vh;
    overflow: hidden;
    video {
      position: relative;
      margin: 0;
      display: block;
      object-fit: cover;
      min-height: 100%;
      height: 100%;
    }
  }
  .teaser-heading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    padding-top: 1.8rem;
    transform: translateY(0);
  }
  .container {
  }
  .logo {
    width: auto;
    display: block;
    max-width: 6.4rem;
    img {
      max-width: 100%;
      display: block;
    }
  }

  .teaser-body {
    margin-top: 0rem;
    bottom: -0rem;
    .container {
      padding: 0;
      max-height: 45%;
      height: 45vh;
      background: #000;
      padding: 3.8rem 2.4rem 2.4rem 3rem;
    }
    &__text {
      color: #fff;

      box-shadow: none;
      position: relative;
    }
  }

  .bigtext {
    font-family: $fontStencil;
    text-transform: uppercase;
    font-size: 3.4rem;
    line-height: 4rem;
    margin-bottom: 1.8rem;
  }
  .subtext {
    @include text-main;
  }

  &__button-block {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .teaser-buttons {
    &__more-button {
      background-color: $color-orange;
      border-color: $color-orange;
      color: #fff;
      margin-bottom: 0;
      padding: 1.9rem 4.5rem;
    }

    &__exchange-button {
      font-family: $font1;
      color: #fff;
    }
  }

  @media (min-width: 600px) {
    .video-layer {
      overflow: hidden;
      height: 100vh;
    }
    .teaser-heading {
      padding-top: 4rem;
      .container {
        padding: 0;
      }
    }
    .logo {
      width: auto;
      display: block;
      max-width: 9.4rem;
      img {
        max-width: 100%;
        display: block;
      }
    }
    .teaser-body {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15%;
      z-index: 2;
      margin-bottom: -1px; //fix adjusted size display

      .container {
        padding: 0;
        background-color: transparent;
      }
      &__text {
        color: #fff;
        padding-bottom: 4.3rem;
        text-shadow: 0 0 0.8em rgba(0, 0, 0, 0.3);
        span {
          display: block;
        }
        .bigtext {
          font-family: $fontStencil;
          text-transform: uppercase;
          width: 58rem;
          max-width: 100%;
          line-height: 6.4rem;
          font-size: 5.663rem;
          margin-bottom: 0rem;
        }
        .subtext {
          font-family: $font1;
        }
        p {
          font-size: 3.2rem;
          line-height: 4.2rem;
          display: block;
          margin: 1.8rem 0 3.6rem;
        }
      }
    }

    &__button-block {
      gap: 1.8rem;
    }

    .teaser-buttons {
      &__more-button {
        padding: 1.7rem 4rem;
      }
    }
  }
}
