.tooltip {
  background-color: $color-orange;
  border-radius: 12px;
  position: absolute;
  // display: none;
  opacity: 0;
  padding: 1.2rem 1.2rem 1.2rem 2.6rem;
  font-family: $font1;
  font-size: 1.4rem;
  font-style: normal;
  color: #fff;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  width: 70vw;
  max-width: 27.2rem;
  z-index: 30;
  left: 50%;
  top: 100%;
  pointer-events: none;
  // transform: translate(-50%, 0%);
  transition: .4s;
  &.opened {
    z-index: 10;
    pointer-events: all;
    // display: block;
    opacity: 1;
    // -webkit-transform: translateX(-43%);
    // transform: translateX(-43%);
    &::before {
      opacity: 1;
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: $color-orange;
    top: -0.5rem;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%) rotate(45deg);
    opacity: 1;
  }

  &__close-icon {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #ffffff1d;
    position: absolute;
    top: 1.2rem;
    border-radius: 50%;
    right: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .close {
    display: block;
    width: 1.2rem;
    height: 0.1rem;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 1.2rem;
      height: 0.1rem;
      background-color: #fff;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
.tooltip-icon {
  user-select: none;
}
.tooltip-list {
  list-style: disc;
  max-width: 95%;
  &__item {
  }
}

.text-popup {
  &__link {
    color: $color-orange;
  }
}
.close {
}
